@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    max-width: 1080px;
  margin: auto;
}

button{
  color:white;
}

.purple{
    background:purple;
  }

h1,h2{
    margin-bottom:10px;
}

.black{
    background: black;
}

div, h1, h2 {
    margin-top: 10px;
  }

  .logout{
    float:right;
    text-color:Darkgray;
background-color: transparent;
border-bottom: 1px solid Darkgray;
  }

.inline-votes {
    display:inline-block;
    margin-left: 10px;

}

.card{
    margin:20px;
    background:white;
    padding: 20px;
    padding-top:30px;
    display:inline-block;
    border-radius:8px;
    float:left;
}

